.App {
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid gray;
}

.characterTab {
  display: flex;
}

.characterDisplayContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.characterListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gray;
  width: 25%;
  height: 91.9vh;
}
